[Unit]
Description=Run streamlit-01
After=network.target

[Service]
WorkingDirectory=/home/ec2-user/streamlit-01
ExecStart=/home/ec2-user/streamlit-01/run.sh
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
